<ul class="O-car__list">
    <a href="/rentalCars/detail/{{_id}}">
        {{>atoms/detail/carImage}}
        {{>atoms/detail/carBrand}}
        {{>atoms/detail/carModel}}
        {{>atoms/detail/carType}}
        {{>atoms/detail/place}}
    </a>
</ul>