<nav class="navbar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/newUser">Crear Usuario</a></li>
    <li><a href="/listadoUsers">Listado usuarios</a></li>
    <li><a href="/usedCars/usedCarCatalog">Listado de Anuncios</a></li>
    <li><a href="/usedCars/add">Nuevo Anuncio</a></li>
    </ul>
</nav>