<form action="M-register__formRegister">
    {{>atoms/forms/register/input_text_username}}
    {{>atoms/forms/register/input_text_name}}
    {{>atoms/forms/register/input_password_password}}
    {{>atoms/forms/register/input_text_surname}}
    {{>atoms/forms/register/input_email_email}}
    {{>atoms/forms/register/input_text_dni}}
    {{>atoms/forms/register/input_url_avatar}}
    {{>atoms/forms/register/input_submit_register}}
</form>