<main>
     <section class="O-slider">
         {{>organisms/slider/slider_sale}}
     </section>
     <section class="O-slider">
         {{>organisms/slider/slider_leasing}}
     </section>
     <section class="O-slider">
         {{>organisms/slider/slider_used}}
     </section>
</main>