.O-form{
    display: flex;
    justify-content:center;
}

.M-form{
    width:30%;
    margin-top:2vw;
}

.A-form_input{
    background-color: white;
    padding: 0.5vw 1vw;
    border:none;
    box-shadow: none;
    width: 100%;
    margin:0.5vw 0
}

