@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
@import url("navbar.css");
@import url("slider.css");

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: var(--black);
}
:root{
    --grey: #8c8c8c;
    --light-grey: #bfbfbf;
    --black: #0d0d0d;
    --blue: #4983ad;
    --yellow: #dbc34d;
    --orange: #db9050;
    --blood-orange: #c2654e;
    --red: #b84848;
    --shadow:0px 3px 4px -2px #0d0d0d;

    --extra-light: 200;
    --regular: 400;
    --semibold: 600;
    --extra-bold: 800;
}

.-backgroundColorBlue{
  background-color: var(--blue);
  color:white;
}
.-backgroundColorBlue__OnHover:hover{
  background-color: var(--blue);
  color:white;
}
.-borderColorBlue{
  border-color:1px solid var(--blue);
}


.-backgroundColorYellow{
  background-color: var(--yellow);
  color:white;
}
.-backgroundColorYellow__OnHover:hover{
  background-color: var(--yellow);
  color:white;
}
.-borderColorYellow{
  border-color:1px solid var(--yellow);
}


.-backgroundColorOrange{
  background-color: var(--orange);
  color:white;
}
.-backgroundColorOrange__OnHover:hover{
  background-color: var(--orange);
  color:white;
}
.-borderColorOrange{
  border-color:1px solid var(--orange);
}


.-backgroundColorBloodOrange{
    background-color: var(--blood-orange);
    color:white;
}
.-backgroundColorBloodOrange__OnHover:hover{
    background-color: var(--blood-orange);
    color:white;
}
.-borderColorBloodOrange{
  border-color:1px solid var(--blood-orange);
}


.-backgroundColorRed{
  background-color: var(--red);
  color:white;
}
.-backgroundColorRed__OnHover:hover{
  background-color: var(--red);
  color:white;
}
.-borderColorRed{
  border-color:1px solid var(--red);
}


.-backgroundColorGrey{
  background-color: var(--grey);
  color:white;
}
.-backgroundColorLigthGrey{
  background-color: var(--light-grey);
}
.-shadow{
  box-shadow: var(--shadow);
}
















/*
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }
  */