
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');
@import url('./partials/reset.css');

:root{
    --text: #0d0d0d;
    --containers: #bfbfbf;
    --buttons: #8c8c8c;
    --leasing: #4983ad;
    --login: #c2654e;

    font-family: var(--tipo);
}