{{>organisms/nav/nav}}
<h2>Añadir Anuncio Coche</h2>

<form action="/usedCars/createUsedCar" method="POST">
    <fieldset>
        <legend>Añadir Anuncio Coche</legend>
            {{#each formNewUsedCars}}
                {{>atoms/forms/input}}
                <br><br>
            {{/each}}
    </fieldset>
</form>
{{>organisms/footer/footer}}