<h1>Panel de control</h1>

<ul>
    
    <li><a href="/carForm">Creación de nuevo registro de coche.</a></li>

    <li><a href="/transactionList">Registro de ventas.</a></li>

    <li><a href="/benefits">Beneficios.</a></li>
    
</ul>