{{>organims/nav}}
<main>
       <section>
            {{>organims/carrusel/carrusel}}
      </section>
             
      <section>
            {{>organims/forms/register}}
            
      </section>
      <section>
             {{>organims/forms/login}}
      </section>
</main>
{{organims/footer}}