{{>organisms/nav/nav}}
<main>
     <section class="O-slider">
         {{>organisms/sliderSale/slider}}
     </section>
     <section class="O-slider">
         {{>organisms/sliderLeasing/slider}}
     </section>
     <section class="O-slider">
         {{>organisms/sliderUsedCars/slider}}
     </section>
</main>
{{>organisms/footer/footer}}