{{>partials_2_VentaCocheNuevo/organisms/navBar}}
<h1>Ficha técnica del vehículo</h1>

<section>

    {{>partials_2_VentaCocheNuevo/atoms/thumbnailsCar/thumbnailDetail}}

    <article>


         {{>partials_2_VentaCocheNuevo/atoms/details/year}}
         {{>partials_2_VentaCocheNuevo/atoms/details/price}}
         {{>partials_2_VentaCocheNuevo/atoms/details/transmission}}  {{!--hemos añadido transmisión y combustible que estan en vista lista pero no en detail. --}}
         {{>partials_2_VentaCocheNuevo/atoms/details/combustible}}
         {{>partials_2_VentaCocheNuevo/atoms/details/seatNumber}}
         {{>partials_2_VentaCocheNuevo/atoms/details/doorNumber}}
         {{>partials_2_VentaCocheNuevo/atoms/details/trunkSize}}
         {{>partials_2_VentaCocheNuevo/atoms/details/airConditioner}}
         {{>partials_2_VentaCocheNuevo/atoms/details/motor}}
         {{>partials_2_VentaCocheNuevo/atoms/details/availability}}
         

      <p>Stock: {{this.stock}}</p>   {{!-- No hemos hecho atom porque se había hablado de no mostrar sino utilizarlo unicamente para operaciones --}}

        <a href="/newCars/buyCar/{{this._id}}">Comprar</a>


    </article>

    {{>partials_2_VentaCocheNuevo/atoms/buttons/deleteButton}}
    {{>partials_2_VentaCocheNuevo/atoms/buttons/editButton}}

</section>








    
    
    
    