
{{> molecules/complain/header_complain}}

<main class="container__form__complain">
    {{> molecules/forms/complain_form}}
    
    {{#if sendMessage}}
        <h2 class="alert__p__complain">Consulta enviada, un agente le enviará un email</h2>
    {{/if}}
        
<main/>
