<article class="O-form">
    <form action="/newCars/updateCar/{{this._id}}" method="POST"  class="M-form">
        <fieldset>

            {{#each arrayInputList}}
                {{>atoms/forms/input}}
            {{/each}}
            <input type="submit" value="Enviar">
        

        </fieldset>
    </form>
</article>