<li class="A-navList__link -backgroundColorLigthGrey -backgroundColorRed__OnHover -dropdown">
     <a href="/usedCars/usedCarCatalog">Segunda Mano</a>
     <ul>
          {{>atoms/nav/nav_newAd}}
     </ul>
</li>