<li class="M-slider__listItemLeasing -shadow">
    {{>atoms/slider/slider_image}}
    {{>atoms/slider/slider_brand}}
    {{>atoms/slider/slider_model}}
    {{>atoms/slider/slider_transmission}}
    {{>atoms/slider/slider_fuel}}
    {{>atoms/slider/slider_priceLeasing}}
</li>
