
{{> molecules/complainMolecules/molecule-header-default}}

<main class="container__form__complain">
    {{> molecules/complainMolecules/molecule-form-default}}
    
    {{#if sendMessage}}
        <h2 class="alert__p__complain">Consulta enviada, un agente le enviará un email</h2>
    {{/if}}
        
<main/>
