<section class="container__section__faqs">
    {{#each question}}
    <div class="questions_accordions">
        <section class="question-answer_accordion">
            <article class="question">
                <h4>{{ question }}</h4>
                {{>atoms/faqs/faqs_img}}
            </article>
            <article class="answer">
                <p>{{ answer }}</p>
            </article>
        </section>
    </div>
    {{/each}}
</section>