<ul>
    <li>
        {{>atoms/footer/chat_footer}}
    </li>
    <li>
        <ul>
            <li>
                {{>atoms/footer/chat_link}}
            </li>
            <li>
                {{>atoms/footer/faqs_footer}}
            </li>
        </ul>
    </li>
</ul>