
<ul class="A-footer__chat">
    <li class="-dropdown">
        {{>atoms/footer/chat_footer}}
        <ul class="-dropdown__content">
            <li class="-backgroundColorYellow ">
                {{>atoms/footer/chat_link}}
            </li>
            <li class="-backgroundColorYellow ">
                {{>atoms/footer/faqs_footer}}
            </li>
        </ul>
    </li>
</ul>