<form action="M-login__formLogin">
    {{>atoms/forms/login/input_text_username}}
    {{>atoms/forms/login/input_password_password}}
    {{>atoms/forms/login/input_submit_login}}
    {{>atoms/forms/login/link_register}}
</form>