


<ul>

    <li><a href="">HOME</a></li>

    <li><a href="/">LISTADO DE COCHES</a></li>

    <li><a href="/controlPanel">PANEL DE CONTROL DE ADMIN</a></li>

    {{>molecules/searchBar}}

</ul>