<ul>

    <li><a href="/">HOME</a></li>

    <li><a href="/newCars">LISTADO DE COCHES</a></li>

    <li><a href="/newCars/controlPanel">PANEL DE CONTROL DE ADMIN</a></li>

    {{>molecules/searchBar/searchBar}}

</ul>
