<ul>

    <li> {{>atoms/buttons/button url="/" content="HOME"}}


    <li> {{>atoms/buttons/button url="/newCars" content="LISTADO DE COCHES"}}</li>

   
    <li> {{>atoms/buttons/button url="/newCars/controlPanel" content="PANEL DE CONTROL DE ADMIN"}}</li>

    {{>molecules/searchBar/searchBar}}

</ul>

