<h1>Cálculo de beneficios</h1>

    <p>Beneficios mensuales: {{ benefitsMonth }}&euro;</p>
    <p>Beneficios anuales: {{ benefitsYear }}&euro;</p>
    <p>Beneficios totales: {{ totalBenefits }}&euro;</p>

{{> atoms/buttons/button url="/newCars/controlPanel" content="Panel de control"}}
