{{!-- {{>organisms/nav/navSales}} --}}
<section class="detalle-coche">
    
    <h1> Venta Coches Nuevos </h1>

    {{#if error}}<p>No se puede realizar la compra</p>{{/if}}

    {{#each carListArray}}
        
        <article  class="O-car__list">

            <a href="/newCars/carDetail/{{this._id}}">
           
                {{>atoms/thumbnails/thumbnail_list}}
                {{>atoms/details/brand}}
                {{>atoms/details/model}}
                {{>atoms/details/transmission}}
                {{>atoms/details/fuel}}
                {{>atoms/details/price}}

            </a>

        </article>

    {{/each}}

</section>