{{!-- {{>organisms/nav/navSales}} --}}
<h1>Panel de control</h1>

<ul>
    
    <li><a href="/newCars/carForm">Creación de nuevo registro de coche.</a></li>

    <li><a href="/newCars/transactionList">Registro de ventas.</a></li>

    <li><a href="/newCars/benefits">Beneficios.</a></li>
    
</ul>