<h1>Panel de control</h1>

<section>

    <figure>
    
        {{>atoms/buttons/button url="/newCars/carForm" content= '<img src="../img/forms.png"><p>Formulario coche nuevo</p>' }}

    </figure>

    <figure>
      {{>atoms/buttons/button url="/newCars/renderTransactionPanel" content= '<img src="../img/transaction.png"><p>Lista Transacciones</p>' }}

    </figure>

    <figure>
        {{>atoms/buttons/button url="/newCars/benefits" content='<img src="../img/profits.png"><p>Beneficios</p>'}}
    </figure>


    <figure>
     {{>atoms/buttons/button url="" content='<img src="../img/user.png"><p>Perfil Usuario</p>'}}

    </figure>

</section>