<h1> Registro de ventas </h1>

    <section>

        <figure>
        <a href="/newCars/transactionMonth"><img src="../img/forms.png"></a>
        <figcaption>Ventas del mes</figcaption>
        </figure>

        <figure>
            <a href="/newCars/transactionYear"><img src="../img/transaction.png"></a>
        <figcaption>Ventas del año</figcaption>
        </figure>

        <figure>
            <a href="/newCars/transactionTotal"><img src="../img/profits.png"></a>
        <figcaption>Ventas totales</figcaption>
        </figure>

    </section>



{{> atoms/buttons/button url="/newCars/controlPanel" content="Panel de control"}}