{{>organisms/nav/navSales}}
<h1> Venta Coches Nuevos </h1>

{{#if error}}<p>No se puede realizar la compra</p>{{/if}}

{{#each carListArray}}
    <a href="/newCars/carDetail/{{this._id}}">
        <section>
           
                {{>atoms/thumbnailsCar/thumbnailList}}
                {{>atoms/details/brand}}
                {{>atoms/details/model}}
                {{>atoms/details/transmission}}
                {{>atoms/details/combustible}}
                {{>atoms/details/price}}

        </section>
    </a>
{{/each}}
